*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Source Serif VF", "Source Serif", sans;
    font-size: 18px;
    font-weight: 300;
    font-feature-settings: "kern" 1, "liga" 1;
    font-optical-sizing: auto;
}

h1{
    font-size: 10rem;
    font-weight: 300;
}

.content{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face{
    position: absolute;
}

.content > .face[data-imgstatus="active"]{
    display: block;
    height: 70vh;
}

.face[data-imgstatus="inactive"]{
    display: none;
}


.audio{
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%,-50%);


    cursor: pointer;
}

.audio[data-music="paused"]{
    height: 3.5rem;
    width: 3.5rem;
    background-image: url('./imgs/headphones.svg');
}

.audio[data-music="playing"]{
    background-image: url('./imgs/pause.svg');
}


.ball{
    position: fixed;
    top: 90vh;
    left: 80vw;
    height: 3rem;
    width: 3rem;
    background-color: black;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 3;
}


.ball[data-status="closed"]:hover{
    cursor: pointer;
}

.menu-content{
    display: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.menu-content > p{
    display: inline-block;
    max-width: 60ch;
}

.menu-content > img{
    opacity: 0;
    height: 20vh;
    cursor: pointer;
}