*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20,20,20);
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px,4vw,100px);
}

body:hover > #trailer{
    opacity: 1;
}

#trailer:not([data-type=""]) > #trailer-icon{
    opacity: 1;
}

#trailer-icon{
    font-size: 6px;
    line-height: 4px;
    opacity: 0;
    transition: opacity 400ms ease;
}


#trailer{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

.interactable{
    height: 70vh;
    width: 30vw;
}

.interactable:hover{
    opacity: 0.4;
}